<%= form_for(@tenant) do |f| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :individual %>
    <%= f.collection_select(:individual_id, Individual.all, :id, :fname) %>
  <br />
    <%= f.label :leased_signed %>
    <%= f.date_select :leased_signed %>
  <br />
    <%= f.label :lease_expired %>
    <%= f.date_select :lease_expired %>
  <br />
    <%= f.label :property %>
    <%= f.collection_select(:property_id, Property.all, :id, :street_1) %>
  <br />
    <%= f.label :room %>
    <%= f.collection_select(:room_id, Room.all, :id, :room_number) %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
