<%= content_for :jsIncludes do %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<% end %>
<%= form_for(@tenant) do |f| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :individual, "Contact: " %>
    <%= f.text_field :individual_name %>
    <%= f.hidden_field :individual_id %>
  <br />
    <%= f.label :leased_signed, "Lease Signed: " %>
    <%= f.date_select :leased_signed %>
  <br />
    <%= f.label :lease_expired, "Lease Expired: " %>
    <%= f.date_select :lease_expired %>
  <br />
    <%= f.label :property, "Property: " %>
    <%= f.text_field :property_name %>
    <%= f.hidden_field :property_id %>
  <br />
    <%= f.label :room, "Room: " %>
    <%= f.text_field :room_name %>
    <%= f.hidden_field :room_id %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
