<%= form_for(@tenant) do |f| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :individual, "Contact: " %>
    <%= f.collection_select(:individual_id, Individual.all, :id, :name) %>
  <br />
    <%= f.label :leased_signed, "Lease Signed: " %>
    <%= f.date_select :leased_signed %>
  <br />
    <%= f.label :lease_expired, "Lease Expired: " %>
    <%= f.date_select :lease_expired %>
  <br />
    <%= f.label :property, "Property: " %>
    <%= f.collection_select(:property_id, Property.all, :id, :address) %>
  <br />
    <%= f.label :room, "Room: " %>
    <%= f.collection_select(:room_id, Room.all, :id, :room_number) %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
