<h2>Listing Tenants</h2>

<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Property</th>
      <th>Room</th>
      <th>Lease signed</th>
	  <th>Lease expired</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><% if tenant.individual %><%= tenant.individual.name %><% end %></td>
        <td>
            <% if tenant.property %>
        	<%= tenant.property.street_1 %><br />
			<%= tenant.property.city %> <%= tenant.property.state %> <%= tenant.property.zip %>
			<% end %>
        </td>
        <td><% if tenant.room %><%= tenant.room.room_number %><% end %></td>
        <td><%= tenant.leased_signed %></td>
		<td><%= tenant.lease_expired %></td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenent', new_tenant_path %>
<%= link_to 'Search', tenants_search_path %>
