<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= link_to "#{@tenant.individual.name}", individual_path(@tenant.individual) %>
</p>

<p>
  <strong>Leased signed:</strong>
  <%= @tenant.leased_signed %>
</p>

<p>
  <strong>Lease expired:</strong>
  <%= @tenant.lease_expired %>
</p>

<p>
  <strong>Property:</strong>
  <%= link_to "#{@tenant.property.address}", property_path(@tenant.property) %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to "#{@tenant.room.room_number}", property_path(@tenant.room) %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
