<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <% if @tenant.individual %>
  <%= link_to "#{@tenant.individual.name}", @tenant.individual %>
  <% end %>
</p>

<p>
  <strong>Leased signed:</strong>
  <%= @tenant.leased_signed %>
</p>

<p>
  <strong>Lease expired:</strong>
  <%= @tenant.lease_expired %>
</p>


<p>
  <strong>Welcome home:</strong>
  <%= @lease.welcome_home %>
</p>

<p>
  <strong>Property:</strong>
  <% if @tenant.room %>
  <%= link_to "#{@tenant.room.room_number} (#{@tenant.room.property.address})", room_path(@tenant.room) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'List all tenants', tenants_path %>
