<p id="notice"><%= notice %></p>

<p>
  <strong>Individual:</strong>
  <%= @tenant.individual %>
</p>

<p>
  <strong>Leased signed:</strong>
  <%= @tenant.leased_signed %>
</p>

<p>
  <strong>Lease expired:</strong>
  <%= @tenant.lease_expired %>
</p>

<p>
  <strong>Property:</strong>
  <%= @tenant.property %>
</p>

<p>
  <strong>Room:</strong>
  <%= @tenant.room %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
