<h2>List Contacts</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= link_to "#{individual.fname} #{individual.lname}", individual %></td>
        <td>
			<%= individual.street_1 %><br />
		    <%= individual.street_2 %><br />
		    <%= individual.city %> <%= individual.state %> <%= individual.zip %>
		</td>
        <td><%= individual.phone %></td>
        <td><%= individual.email %></td>
        <td><%= link_to 'Edit', edit_individual_path(individual) %></td>
        <td><%= link_to 'Destroy', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_individual_path %>
