<h2>Listing properties</h2>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Units</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td>
			<%= property.street_1 %><br />
        	<%= property.city %> <%= property.state %> <%= property.zip %>
		</td>
        <td><% property.rooms.each do |room| %>
            <%= room.room_number %> <br />
            <% end %>
            </td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %> | 
<%= link_to 'Search', properties_search_path %>
