<h2>Listing properties</h2>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td>
			<%= property.street_1 %><br />
        	<%= property.street_2 %><br />
        	<%= property.city %> <%= property.state %> <%= property.zip %>
		</td>
        <td><%= property.individual.fname %> <%= property.individual.lname %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Delete', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
