<%= content_for :jsIncludes do %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<% end %>
<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<br />
	<%= f.label :individual, "Contact: " %>
    <%= f.text_field :individual_name %>
	<%= f.hidden_field :individual_id %>
	<br />
    <%= f.label :company, "Company: " %>
    <%= f.text_field :company %>
  	<br />
    <%= f.label :date_received, "Date Received: " %>
    <%= f.date_select :date_received %>
	<br />
    <%= f.label :confirmed, "Confirmed: " %>
    <%= f.check_box :confirmed %>
	<br />
    <%= f.label :file_number, "File Number: " %>
    <%= f.text_field :file_number %>
	<br />
    <%= f.label :source, "Source: " %>
    <%= f.text_field :source %>
	<br />
    <%= f.label :comments, "Comments: " %>
    <%= f.text_area :comments %>
	<br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
