<h2>Listing clients</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date received</th>
      <th>File number</th>
      <th>Company</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><% if client.individual %><%= link_to "#{client.individual.name}", client %><% end %></td>
        <td><%= client.date_received %></td>
        <td><%= client.file_number %></td>
        <td><%= client.company %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Delete', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %> | 
<%= link_to 'Search', clients_search_path %>
