<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :agent, "Agent" %>
    <%= f.collection_select(:agent_id, Agent.all, :id, :name) %>
  <br />
    <%= f.label :client %>
    <%= f.collection_select(:client_id, Client.all, :id, :name) %>
  <br />
    <%= f.label :date %>
    <%= f.date_select :date %>
  <br />
    <%= f.label :property %>
    <%= f.collection_select(:property_id, Property.all, :id, :address) %>
  <br />
    <%= f.label :room %>
    <%= f.collection_select(:room_id, Room.all, :id, :room_number) %>
  <br />
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  <br />
    <%= f.submit "Save", class: "submit" %>
  </div>
<% end %>
