<%= content_for :jsIncludes do %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<% end %>
<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :agent, "Agent" %>
    <%= f.text_field :agent_name %>
    <%= f.hidden_field :agent_id %>
  <br />
    <%= f.label :client, "Client: " %>
    <%= f.text_field :client_name %>
    <%= f.hidden_field :client_id %>
  <br />
    <%= f.label :date, "Date: " %>
    <%= f.date_select :date %>
  <br />
    <%= f.label :dropped_date, "Dropped date: " %>
    <%= f.date_select :dropped_date %>
  <br />
    <%= f.label :room, "Property: " %>
    <%= f.text_field :room_name %>
    <%= f.hidden_field :room_id %>
  <br />
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  <br />
    <%= f.submit "Save", class: "submit" %>
  </div>
<% end %>
