<h2>Listing tours</h2>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Property</th>
      <th>Room</th>
      <th>Date</th>
      <th>Agent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><% if tour.client %><%= tour.client.name %><% end %></td>
        <td>
            <% if tour.property %>
			<%= tour.property.street_1 %><br />
			<%= tour.property.street_2 %><br />
			<%= tour.property.city %> <%= tour.property.state %> <%= tour.property.zip %>
			<% end %>
		</td>
        <td><% if tour.room %><%= tour.room.room_number %><% end %></td>
        <td><%= tour.date %></td>
        <td><% if tour.agent %><%= tour.agent.fname %> <%= tour.agent.lname %><% end %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
<%= link_to 'Search', tours_search_path %>
