<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <% if @tour.agent %>
  <%= link_to "#{@tour.agent.name}", agent_path(@tour.agent) %>
  <% end %>
</p>

<p>
  <strong>Client:</strong>
  <% if @tour.client %>
  <%= link_to "#{@tour.client.name}", client_path(@tour.client) %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tour.date %>
</p>

<p>
  <strong>Dropped date:</strong>
  <%= @tour.dropped_date %>
</p>

<p>
  <strong>Property:</strong>
  <% if @tour.room %>
  <%= link_to "#{@tour.room.room_number} (#{@tour.room.property.address})", room_path(@tour.room) %>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @tour.comments %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'List all tours', tours_path %>
