<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= link_to "#{@sale.agent.name}", agent_path(@sale.agent) %>
</p>

<p>
  <strong>Client:</strong>
  <%= link_to "#{@tour.client.name}", client_path(@tour.client) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tour.date %>
</p>

<p>
  <strong>Room:</strong>
  <%= link_to "#{@tour.room.room_number}", room_path(@tour.room) %>
</p>

<p>
  <strong>Property:</strong>
  <%= link_to "#{@tour.property.address}", property_path(@tour.property) %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @tour.comments %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'List all tours', tours_path %>
