<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :fname, "First Name: " %>
    <%= f.text_field :fname %>
  <br />
    <%= f.label :lname, "Last Name:" %>
    <%= f.text_field :lname %>
  <br />
    <%= f.submit "Save", class: "submit" %>
  </div>
<% end %>
