<h2>Listing agents</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
	  <th>Username</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= link_to "#{agent.fname} #{agent.lname}", agent %></td>
		<td><%= agent.username %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Delete', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
