<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @agent.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @agent.lname %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
