<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :property, "Property: " %>
    <%= f.collection_select(:property_id, Property.all, :id, :address) %>
  <br />
	<%= f.label :room_number, "Room Number: " %>
	<%= f.text_field :room_number %>
  <br />
    <%= f.label :comments, "Comments: " %>
    <%= f.text_area :comments %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
