  <%= f.label :room_number, "Room Number: " %>
  <%= f.text_field :room_number %>
<br />
  <%= f.label :comments, "Comments: " %>
  <%= f.text_area :comments %>
<br />
<button id="rooms_property_filter_button" type='button'>Filter by Property</button>
<div class="subfields" id="rooms_property_filter">
Property filter: <br />
  <%= f.fields_for :property do |pr| %>
	<%= render :partial => '/properties/search_fields', :locals => { :f => pr } %>
  <% end %>
</div>
<script>
$('#rooms_property_filter_button').click(function() {
	$('#rooms_property_filter').slideToggle()
})
</script>