<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <% if @room.property %>
  <%= link_to "#{@room.property.address}", property_path(@room.property) %>
  <% end %>
</p>

<p>
  <strong>Room Number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @room.comments %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
