<%= content_for :jsIncludes do %>
    <%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<% end %>
<%= form_for(@lease) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br />
    <%= f.label :client, "Client: " %>
    <%= f.text_field :client_name %>
    <%= f.hidden_field :client_id %>
	<br />
    <%= f.label :rental_amount, "Rental Amount: " %>
    <%= f.text_field :rental_amount %>
	<br />
	<%= f.label :move_in, "Move in date:" %>
    <%= f.date_select :move_in %>
	<br />
    <%= f.label :move_out, "Move out date: " %>
    <%= f.date_select :move_out %>
  <br />
    <%= f.label :date, "Date: " %>
    <%= f.text_field :date %>
  <br />
    <%= f.label :thank_you_sent, "Thank you sent: " %>
    <%= f.check_box :thank_you_sent %>
  <br />
    <%= f.label :agent_name, "Agent: " %>
    <%= f.text_field :agent_name %>
	<%= f.hidden_field :agent_id %>
  <br />
    <%= f.label :referral_amount, "Referral Amount: " %>
    <%= f.text_field :referral_amount %>
  <br />
    <%= f.label :room, "Property: " %>
    <%= f.text_field :room_name %>
    <%= f.hidden_field :room_id %>
  <br />
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
