<%= form_for(@lease) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br />
    <%= f.label :client %>
    <%= f.collection_select(:client_id, Client.all, :id, :fname) %>
	<br />
    <%= f.label :rental_amount %>
    <%= f.text_field :rental_amount %>
	<br />
    <%= f.label :move_out %>
    <%= f.text_field :move_out %>
  <br />
    <%= f.label :date %>
    <%= f.text_field :date %>
  <br />
    <%= f.label :move_in %>
    <%= f.date_select :move_in %>
  <br />
    <%= f.label :welcome_home %>
    <%= f.check_box :welcome_home %>
  <br />
    <%= f.label :thank_you_sent %>
    <%= f.check_box :thank_you_sent %>
  <br />
    <%= f.label :dropped_date %>
    <%= f.date_select :dropped_date %>
  <br />
    <%= f.label :agent %>
    <%= f.collection_select(:agent_id, Agent.all, :id, :fname) %>
  <br />
    <%= f.label :referral_amount %>
    <%= f.text_field :referral_amount %>
  <br />
    <%= f.label :property, "Property:" %>
   	<%= f.collection_select(:property_id, Property.all, :id, :street_1)%>
  <br />
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
