<h2>Listing leases</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Property</th>
      <th>Move in</th>
      <th>Move out</th>
      <th>Agent</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leases.each do |lease| %>
      <tr>
        <td><%= link_to "#{lease.client.name}", lease %></td>
        <td><%= lease.property %></td>
        <td><%= lease.move_in %></td>
        <td><%= lease.move_out %></td>
        <td><% if lease.agent %><%= lease.agent.name %><% end %></td>
        <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
        <td><%= link_to 'Delete', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease', new_lease_path %>
