<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <% if @lease.client %>
  <%= link_to "#{@lease.client.name}", @lease.client %>
  <% end %>
</p>

<p>
  <strong>Rental amount:</strong>
  <%= @lease.rental_amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lease.date %>
</p>

<p>
  <strong>Move in:</strong>
  <%= @lease.move_in %>
</p>

<p>
  <strong>Move out:</strong>
  <%= @lease.move_out %>
</p>

<p>
  <strong>Thank you sent:</strong>
  <%= @lease.thank_you_sent %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @lease.comments %>
</p>

<p>
  <strong>Agent:</strong>
  <% if @lease.agent %>
  <%= link_to "#{@lease.agent.name}", agent_path(@lease.agent) %>
  <% end %>
</p>

<p>
  <strong>Referral amount:</strong>
  <%= @lease.referral_amount %>
</p>

<p>
  <strong>Property:</strong>
  <% if @lease.room %>
  <%= link_to "#{@lease.room.room_number} (#{@lease.room.property.address})", room_path(@lease.room) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'List all leases', leases_path %>
