<%= content_for :jsIncludes do %>
    <%= javascript_include_tag params[:controller] %>
<% end %>
<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <%= f.label :agent, "Agent: " %>
    <%= f.text_field :agent_name %>
    <%= f.hidden_field :agent_id %>
  <br />
    <%= f.label :hear, "Hear: " %>
    <%= f.check_box :hear %>
  <br />
    <%= f.label :buyer, "Buyer Contact: " %>
    <%= f.text_field :buyer_name %>
    <%= f.hidden_field :buyer_id %>
  <br />
    <%= f.label :broker, "Broker Contact: " %>
    <%= f.text_field :broker_name %>
    <%= f.hidden_field :broker_id %>
  <br />
    <%= f.label :property, "Property: " %>
    <%= f.text_field :property_name %>
    <%= f.hidden_field :property_id %>
  <br />
    <%= f.label :closing_date, "Closing date: " %>
    <%= f.date_select :closing_date %>
  <br />
    <%= f.label :company, "Company: " %>
    <%= f.text_field :company %>
  <br />
    <%= f.label :office_number, "Office number: " %>
    <%= f.text_field :office_number %>
  <br />
    <%= f.submit "Save", class: "submit" %>
<% end %>
