<h2>Listing Sales</h2>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Property</th>
      <th>Seller</th>
      <th>Closing date</th>
      <th>Agent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>
        <% if sale.buyer %><%= sale.buyer.name %><% end %></td>
        <td>
            <% if sale.room %>
			<%= sale.room.property.street_1 %><br />
			<% if not sale.room.room_number.blank? %>
			  <%= sale.room.room_number %><br />
			<% end %>
			<%= sale.room.property.city %> <%= sale.room.property.state %> <%= sale.room.property.zip %></td>
			<% end %>
        <td><% if sale.broker %><%= sale.broker.name %><% end %></td>
        <td><%= sale.closing_date %></td>
        <td><% if sale.agent %><%= sale.agent.name %><% end %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales', new_sale_path %>
<%= link_to 'Search', sales_search_path %>