<h2>Listing Sales</h2>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Property</th>
      <th>Seller</th>
      <th>Closing date</th>
      <th>Agent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.buyer.name %></td>
        <td>
			<%= sale.property.street_1 %><br />
			<%= sale.property.street_2 %><br />
			<%= sale.property.city %> <%= room.property.state %> <%= room.property.zip %></td>
        <td><%= sale.broker.name %></td>
        <td><%= sale.closing_date %></td>
        <td><%= sale.agent.name %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
