<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <% if @sale.agent %>
  <%= link_to "#{@sale.agent.name}", agent_path(@sale.agent) %>
  <% end %>
</p>

<p>
  <strong>Hear:</strong>
  <%= @sale.hear %>
</p>

<p>
  <strong>Buyer:</strong>
  <% if @sale.buyer %>
  <%= link_to "#{@sale.buyer.name}", individual_path(@sale.buyer) %>
  <% end %>
</p>

<p>
  <strong>Broker:</strong>
  <% if @sale.broker %>
  <%= link_to "#{@sale.broker.name}", individual_path(@sale.broker) %>
  <% end %>
</p>

<p>
  <strong>Property:</strong>
  <% if @sale.property %>
  <%= link_to "#{@sale.property.address}", property_path(@sale.property) %>
  <% end %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @sale.closing_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @sale.company %>
</p>

<p>
  <strong>Office number:</strong>
  <%= @sale.office_number %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'List all sales', sales_path %>
