<!DOCTYPE html>
<html>
<head>
  <title>SRG Internal Database</title>
  <%= stylesheet_link_tag    "application", media: "screen", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :jsIncludes %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	    <% if flash[:big_errors] %><div class="error"><%= flash[:big_errors] %></div> <% end %>
		<div id="top">
			<div id="logo">
				<%= link_to(image_tag("logo.jpg", :alt => "home image", :title => "Click here to return home"), "/") %>
			</div>
			<div id="welcome">
				<% if current_agent %>
				  <p>Welcome <%= current_agent.fname %> <%= current_agent.lname %></p>
				  <br />
				  <%= link_to "Profile", agent_path(current_agent) %> | 
				  <%= link_to "Sign Out", agents_logout_path %>
				  <% if current_agent.isAdmin %>
				    | <%= link_to "Manage Agents", agents_path %>
				  <% end %>
				<% else %>
				  <% if flash[:login_errors] %><div class="error"><%= flash[:login_errors] %></div><% end %>
				  <%= form_for(Agent.new, :url => { :controller => 'agents', :action => 'login' }) do |f| %>
				    <%= f.label :username, "Username: " %>
				    <%= f.text_field :username %>
				    <br />
				    <%= f.label :password, "Password: "%>
				    <%= f.password_field :password %>
				    <br />
				    <%= submit_tag "Login", class: "submit" %>
				  <% end %>
				<% end %>
			</div>
		</div>
		<div id="topnav">
			<ul>
				<li><%= link_to "HOME", "/" %></li>
				<li><%= link_to "TOURS", tours_path %>
					<ul>
						<li><%= link_to "New Tour", new_tour_path %></li>
						<li><%= link_to "Search", tours_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "PROPERTIES", properties_path %>
					<ul>
						<li><%= link_to "New Property", new_property_path %></li>
						<li><%= link_to "Search", properties_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "CLIENTS", clients_path %>
					<ul>
						<li><%= link_to "New Client", new_client_path %></li>
						<li><%= link_to "Search", clients_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "TENANTS", tenants_path %></a>
					<ul>
						<li><%= link_to "New Tenant", new_tenant_path %></li>
						<li><%= link_to "Search", tenants_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "CONTACTS", individuals_path %>
					<ul>
						<li><%= link_to "New Contact", new_individual_path %></li>
						<li><%= link_to "Search", individuals_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "LEASES", leases_path %>
					<ul>
						<li><%= link_to "New Lease", new_lease_path %></li>
						<li><%= link_to "Search", leases_search_path %></li>
					</ul>
				</li>
				<li><%= link_to "SALES", sales_path %>
					<ul>
						<li><%= link_to "New Sales", new_sale_path %></li>
						<li><%= link_to "Search", sales_search_path %></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="banner">
			<% if content_for?(:banner) %>
				<%= yield :banner %>
			<% else %>
				<%= image_tag "about_us_900x100.png", :class => "auto-style1" %>
			<% end %>
		</div>
		<div id="subbanner">
			<h1>Welcome to SRG Internal Listings Database</h1>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<p>©2012 Copyright Seattle Rental Group.  Designed by <%= mail_to "info@bitsconsulting.org", "Bits Consulting" %>. Created by <%= mail_to "chili@alumni.cmu.edu", "Cathy Li" %>.</p>
		</div>
	</div>
</body>
</html>
